{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Youtube.com Clone
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/general.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header.css' %}">
        <link rel="stylesheet" href="{% static 'styles/video.css' %}">
        <link rel="stylesheet" href="{% static 'styles/sidebar.css' %}">
    </head>
    <body>
        <header class="header">
            <div class="left-section">
                <img class="hamburger-logo" src="{% static 'icons/hamburger-menu.svg' %}">
                <img class="youtube-logo" src="{% static 'icons/youtube-logo.svg' %}">
            </div>
            <div class="middle-section">
                <input class="search-bar" type="text" placeholder="Search">
                <button class="search-button">
                    <img class="search-icon" src="{% static 'icons/search.svg' %}">
                    <div class="tooltip">Search</div>
                </button>
                <button class="voice-search-button">
                    <img class="voice-search-icon" src="{% static 'icons/voice-search-icon.svg' %}">
                    <div class="tooltip">Search with your voice</div>
                </button>
            </div>
            <div class="right-section">
                <div class="upload-icon-container">
                    <img class="upload-icon" src="{% static 'icons/upload.svg' %}">
                    <div class="tooltip">Create</div>
                </div>
                <div class="youtube-apps-icon-container">
                    <img class="youtube-apps-icon" src="{% static 'icons/youtube-apps.svg' %}">
                    <div class="tooltip">Youtube apps</div>
                </div>
                <div class="notifications-icon-container">
                    <img class="notifications-icon" src="{% static 'icons/notifications.svg' %}">
                    <div class="notifications-count">3</div>
                    <div class="tooltip">Notifications</div>
                </div>
                <img class="current-user-picture-icon" src="{% static 'channel-pictures/my-channel.jpg' %}">
            </div>
        </header>
        <nav class="sidebar">
            <div class="sidebar-link">
                <img src="{% static 'icons/home.svg' %}">
                <div>Home</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/explore.svg' %}">
                <div>Explore</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/subscriptions.svg' %}">
                <div>Subscriptions</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/originals.svg' %}">
                <div>Originals</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/youtube-music.svg' %}">
                <div>Youtube Music</div>
            </div>
            <div class="sidebar-link">
                <img src="{% static 'icons/library.svg' %}">
                <div>Library</div>
            </div>
        </nav>
        <main>
            <section class="video-grid">
                {% for a in data %}
                <div class="video-preview">
                    <div class="thumbnail-row">
                        <a href="https://www.youtube.com/watch?v=n2RNcPRtAiY" target="_blank" class="video-title-link">
                            <img class="thumbnail" src="https://image.tmdb.org/t/p/original/{{a.poster_path}}" style="height: 150px; width:250px;">
                        </a>
                        <div class="video-time">{{a.popularity}}</div>
                    </div>
                    <div class="video-info-grid">
                        <div class="channel-picture">   
                            <div class="profile-picture-container">
                                <a href="https://www.youtube.com/c/mkbhd" target="_blank" class="channel-link">
                                    <img class="profile-picture" src="https://image.tmdb.org/t/p/original/{{a.poster_path}}" >
                                </a>
                                <div class="channel-tooltip">
                                    <img class="channel-tooltip-picture" src="">
                                    <div class="channel-info-tooltip">
                                        <p class="channel-tooltip-name">{{a.original_language}}</p>
                                        <p class="channel-tooltip-stats">{{a.vote_count}} subscribers</p>
                                    </div>
                                </div>
                            </div>                                                                                  
                        </div>
                        <div class="video-info">
                            <a href="https://www.youtube.com/watch?v=n2RNcPRtAiY" target="_blank" class="video-title-link">
                                <p class="video-title">{{a.original_title}}</p>
                            </a>
                            <div class="tooltip-hover">
                                <a href="https://www.youtube.com/c/mkbhd" target="_blank" class="channel-link">
                                    <p class="video-author">{{a.original_language}}</p>
                                </a>                            
                                <p class="video-stats">{{a.vote_count}}views &#183; {{a.release_date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        </main>
    </body>
</html>